<form method="post" action="/analyze">
  <textarea name="texte" rows="15" maxlength="20000">{{ texte or '' }}</textarea>
  <button type="submit">Analyser</button>
</form>
{% if texte %}
  <div>
    <h2>Texte soumis</h2>
    <p>{{ texte }}</p>
  </div>
{% endif %}

{% if phrases %}
  {% for paragraphe in phrases %}
    {% for phrase in paragraphe %}
      <p>{{ phrase }}</p>
    {% endfor %}
  {% endfor %}
{% endif %}

{% if tokens %}
  {% for paragraphe in tokens %}
    {% for phrase_tokens in paragraphe %}
      <p>{{ phrase_tokens }}</p>
    {% endfor %}
  {% endfor %}
{% endif %}